@import "functions";
@import "pallete";

h1 {
  font-family: 'PT Sans Narrow';
}

h2 {
  font-family: 'PT Sans Narrow';
}

form {
  label {
    display: block;
  }
}

.button {
  text-decoration: none;
  padding: 0.7em;   /* 16/16px */
  font-weight: bold;
  border-radius: em(5);
  cursor: pointer;
  display: inline;
}

input[type="submit"].button-green, .button-green {
  background: $middle-green;
  color: white;
}

input[type="submit"].button-green-border, .button-green-border {
  background: white;
  color: $middle-green;
  border: 1px solid $middle-green; 
  &:hover {
    color: $light-green;
    border: 1px solid $light-green;
  }
}


.banner {
  position: relative;
  min-height: 40px;
  background: $light-green;
  padding: 10px;
  border-bottom: 2px solid $dark-green;
  color: white;
  .logo {
    margin-left: 1em;
    width: 192px;
  }
}

.notice {
  color: #000;
  border: 2px solid $red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: $ultra-light-brown;
}

.notice:empty {
  display: none;
}

.columns {
  background: $light-green;
  display: flex;

  .main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  .side {
    padding: 1em 2em;
    background: $light-green;

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: white;
          font-size: small;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  .banner {
    height: 1em;
  }

  .banner .title {
    display: none;
  }
}