@import 'pallete';
@import 'functions';

.products {
  table {
    border: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 60px;
    height: auto;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: $middle-green;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: small;
    text-align: right;
    padding-left: 1em;
  }

  .list_line_even {
    background: white;
  }

  .list_line_odd {
    background: $ultra-light-brown;
  }
}