@import "pallete";
@import "functions";

.store {
  h1 {
    margin: 0;
    color: $dark-blue;
    border-bottom: 3px dotted $middle-blue;
  }

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted $middle-blue;
    min-height: 100px;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: $middle-blue;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
    }

    .price {
      color: $middle-green;
      font-weight: bold;
      margin-right: 3em;
      .fas {
        margin-left: 2px;
        padding-bottom: -2px;
        transform: scale(0.78);
        vertical-align: top;
      }
    }
  }
}